<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLE_Serial_Terminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <BLE_Serial_Terminal.Properties.Settings>
            <setting name="linebreaks" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="localecho" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timestamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="commandstring" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="stringforsend" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="justinsert" serializeAs="String">
                <value>none</value>
            </setting>
        </BLE_Serial_Terminal.Properties.Settings>
    </userSettings>
</configuration>
